*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

body {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #011f3f; */
  background: #000;
  height: 100vh;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 2%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #fff;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

footer{
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}

@media (min-width: 325px) and (max-width: 480px) {
  .btn {
    margin: 15px;
    height: 100px;
    width: 100px;
    border: 5px solid #fff;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 480px) and (max-width: 720px){
   .btn {
    margin: 15px;
    height: 180px;
    width: 180px;
    border: 7px solid #fff;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 720px) and (max-width: 1105px) {
  .btn {
    margin: 15px;
    height: 200px;
    width: 200px;
    border: 10px solid #fff;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
